%form{ 'method' => 'post' }
  %input#username{ 'type' => 'text', 'name' => 'username', 'placeholder' => 'username' }
  %input{ 'type' => 'password', 'name' => 'password', 'placeholder' => 'password' }
  %button Login